{% extends 'AppCoderFinal/padre.html' %}

{% load static %}


{% block contenidoQueCambia %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Destinos</title>
    </head>
    <body>
        
        <center>
        <form action="/AppCoderFinal/buscarDestino/" method="get">
            
            <br>
            <p>Buscador de destinos.</p>
            <br>

            <p>Pais: <input type="text" name="pais"></p>

            
            <input type="submit" value="Buscar">
        </center>

    </body>
    </html>
    
{% endblock contenidoQueCambia %}


