{% extends 'AppCoderFinal/padre.html' %}

{% load static %}


{% block contenidoQueCambia %}

    
    <body>
        
        <h1>Destinos</h1>
        <ul>
            {% for destino in object_list %}

                <li>
                    <p><strong>Ciudad: {{ destino.ciudad }} </strong></p>
                    <p>
                        <a href="{% url 'Detail' destino.id %}"><button type="button" class="btn btn-info btn-sm">Ver</button></a>
                        <a href="{% url 'Update' destino.id %}"><button type="button" class="btn btn-warning btn-sm">Editar</button></a>
                        <a href="{% url 'Delete' destino.id %}"><button type="button" class="btn btn-danger btn-sm">Borrar</button></a>
                    </p>
                </li>

                
            {% endfor %}
        </ul>

        <br>
        <a href="{% url 'Create' %}"><button type="button" class="btn btn-primary">Nuevo Destino</button></a>

    </body>

    
{% endblock contenidoQueCambia %}